<!DOCTYPE html>
<html>
<head>
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form action="/update_task/{{ task_id }}" method="POST">
        <label for="new_task_name">Task Name:</label>
        <input type="text" name="new_task_name" id="new_task_name" value="{{ task[0] }}" required><br><br>
        <label for="new_task_description">Task Description:</label>
        <textarea name="new_task_description" id="new_task_description">{{ task[1] }}</textarea><br><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>
